{
  "machine": {
    "gpu": 0,
    "cpu": 1000,
    "ram": 1000
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": [
          "./start_service.sh"
        ],
        "EnvironmentVariables": [
          "{{ subst "LIGHTHOUSE_KEY=%s" .LighthouseKey }}",
          "{{ subst "CID=%s" .CID }}",
          "{{ subst "PRIVATE_KEY=%s" .PrivateKey }}",
          "{{ subst "TRADE_CONTRACT_ADDRESS=%s" .TradeContractAddress }}"
        ],
        "Image": "cemdenizsel/test_web3_ai:latest"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": ""
      },
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}
